.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styling for simple page */


/* navbar */
ul{
  padding: 0;
  width: 100%;
  list-style: none; 
}

li{
  float:left ;
}

li a{
  
  width: 100%;
  padding: 10px 5px;
  text-decoration: none;
  font-family: Arial;
  color:orange;
  text-align: center;
}

li a:hover{
  background: orange;
  text-transform: uppercase;
}

/* carousel */
#image1{
  left: 50px;
  padding:250px 0px 0px 50px;
  
}
.btn-primary{
  background: red;
}

/* divtag */
#web{
  color: orangered;
}